	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 2px;
	}
	body {
		 padding: 0;
		 margin: 0;
	}
	#map {
		 height: 1000px;
		 width: 500px;
	}
	#details {
		position: absolute;
		top: 690px;
		left: 70px;
	}
